 *{

    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }

  html{
      scroll-behavior: smooth;
  }

  ::selection{
      background-color: yellow;
  }

  ::-webkit-scrollbar{
      width: 10px;
      background-color: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb{
        background-color: #353b48;
    }
  
  .navbar{
  
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 30px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;

  }

  .inner-width{
      max-width: 1300px;
      margin: auto;
      padding: 0 40px;
  }

  .navbar .inner-width{
     display: flex;
     align-items: center;
     justify-content: space-between;
  }

  .logo{
      width: 44px;
      height: 32px;
      background-image: url(../images/white-logo.png);
      background-size: contain;
  }

  .menu-toggler{
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
  }

  .menu-toggler span{

    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
  }

  .navbar-menu a{

    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;

  }

  .navbar-menu a:hover{
      color: #48dbfb !important;
  }

  .sticky{

       background-color: #fff;
       padding: 18px 0;
  }

  .sticky .logo{

    background-image: url(../images/black-logo.png);
  }

  .sticky .navbar-menu a{
      color: #111;
  }

  .sticky .menu-toggler span{
      background-color: #111;
  }

  #home{
      height: 100vh;
      min-height: 500px;
      background: url(../images/bg2.jpg) no-repeat center;
      background-size: cover;
      background-attachment: fixed;
  }

  #home .inner-width{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  #home .content{

    width: 100%;
    color: white;
  }

  .content h1{

    font-size: 60px;
    margin-bottom: 60px;
    transition: .3s linear;

  }

  .content h1:hover{

    color: #48dbfb;
  }



  #home .content h1::after{

    content: "CodeBuilder";
    animation: textanim 10s linear infinite;
  }

@keyframes textanim{

    25%{
    content: "Insightful";
    }
    50%{
        content: "Ingenious ";
    }
    75%{
        content: "Influential";
    }
}

.sm a{

    color: white;
    margin: 0 10px;
    transition:  .2s linear;
}

.sm a:hover{

    color: #48dbfb;
}

#home .buttons{

    margin-top: 60px;
}

#home .buttons a{

    color: #48dbfb;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin: 15px 30px;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 10px;
    transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2)
{

    background-color: #48dbfb;
    color: white;
}

section{

    padding: 100px 0;
    background-color: #f1f1f1;

}

.section-title{

    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
    position: relative;
    font-size: 20px;
    padding-bottom: 20px;
    color: #000;
    font-weight: 500;
}


.section-title::before{

    width: 80px;
    content:"";
    position: absolute;
    height: 2px;
    background-color: #000;
    bottom: 1;
    left: calc(50% - 40px);
}


.section-title::after{

    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7;
}

.about-content{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-pic{
    width:180px;
    border-radius: 50%;
    margin-right: 100px;
}

.about-text{

    flex:1;
}
.about-text h3{

    margin:10px 0;
    color: #444;
    font-size: 16px;
}

.about-text h3 span:nth-child(1):after,
.about-text h3 span:nth-child(2):after{
    content:"";
    height:6px;
    width:6px;
    background-color:#444;
    display: inline-block ;
    border-radius: 50%;
    margin: 0 14px;
}

.about-text p{

    font-size: 15px;
    text-align: justify;
    line-height: 25px;
    margin-top: 20px;
}

.skills{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skill{

    width: calc(50% - 20px);
    margin: 15px 0;
}

.skill-info{

    display: flex;
    justify-content: space-between;
}

.skill-bar{

    height:3px;
    border-radius: 120px;
    background-color: #dddddd;
    margin-top: 14px;
    position: relative;
}

.skill-bar::after{
    content:"";
    position: absolute;
    height: 4px;
    background-color: #48dbfb;
    bottom: 0;
}

.html:after{
    width: 85%;
}
.css:after{
    width: 75%;
}
.javascript:after{
    width: 70%;
}
.cplus:after{
    width: 90%;
}
.c:after{
    width: 90%;
}
.python:after{
    width: 75%;
}
.java:after{
    width: 70%;
}
.sql:after{
    width: 90%;
}
.cloud:after{
    width: 80%;
}

section.dark{
    background-color: #353b48;
}

section.dark .section-title{
    color: #f1f1f1;
}

section.dark .section-title::before{

    position: absolute;
    background-color: #f1f1f1;
    bottom: 1;
    left: calc(50% - 60px);
    width: 120px
}

section.dark .section-title::after{
    border: 4px solid #353b48;
}

.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service{
    width: calc(33% - 20px);
    text-align: center;
    border: 1px solid #48dbfb;
    border-radius: 20px;
    margin: 20px 0;
    padding: 40px 20px;
    color: #fff;
    cursor: pointer;
    transition: .3s linear;
}

.service .icon{
    color: #48dbfb;
    font-size: 40px;
    margin-bottom: 20px;
    transition: .3s linear;
}

.service h4{
    font-size: 15px;
    margin-bottom: 5px;
}

.service:hover{
    background-color: #48dbfb;
}

.service:hover .icon{
    color:#fff;
}

.time-line, .works{

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 10px 0;
    padding: 30px;
    position: relative;
}



.block::before{

    content:"";
    position: absolute;
    width: 1px;
    height:120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.block::after{

    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #48dbfb;
    left: -28px;
    top:30px;
}

.block h3{
    font-size: 15px;
    padding-bottom: 10px;
    margin: 10px 0;
}

.block p{
    color:#444;
    font-size: 13px;
}

.blockmid{

    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 50px 0 0 290px;
    padding: 30px;
    position: relative;

}
.blockmid::before{

    content:"";
    position: absolute;
    width: 1px;
    height:120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.blockmid::after{

    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #48dbfb;
    left: -28px;
    top:30px;
}

.blockmid h4{
    font-size: 15px;
    padding-bottom: 10px;
    margin: 10px 0;
}

.blockmid p{
    color:#444;
    font-size: 13px;
}

.blockcertif{
    width: calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin: 10px 0;
    padding: 30px;
    position: relative;
    text-align: justify;
}



.blockcertif::before{

    content:"";
    position: absolute;
    width: 1px;
    height:120%;
    background-color: #ddd;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
}

.blockcertif::after{

    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #48dbfb;
    left: -28px;
    top:30px;
}


.blockcertif h3{
    font-size: 15px;
    vertical-align: auto;
    padding-bottom: 5px ;
    
}
.info1 .info2{
    position: absolute;
    z-index: 2;
    bottom: 150px;
    left: 40px;
    color: #353b48;
    transition: .4s linear;
    opacity: 0;

  }

.info1::before{

    content: "";
    position: absolute;
    z-index: 1;
    background-color: #48dbfbcc;
    transition: .2s linear;
    transform: scale(0);
}

.info1 img{
    border-radius: 50%;
    padding-bottom: 10px;
    cursor: pointer;
    transition: .4s linear;
}
.info1:hover img{
    transform: scale(0.6) rotate(25deg);
    opacity: 0.5;
  }
  
  .info1:hover::before,
  .info1:hover .info2
  {
    opacity: 1;
    transform: scale(1);
  }

.blockcertif p{
    color:#444;
    font-size: 13px;
}

.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.container .card{
    position: relative;
    height: 250px;
    background: #48dbfb;
    color: #fff;
    width: 45%;
    margin-top: 30px;
    border-radius: 150px;
}

.container .card .imgBx{
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    background: #323743;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx{
    width:50%;
    height:50%;
    left: -25px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: transparent;
    border-radius: 50px;

}

.container .card .imgBx:before{
    
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    text-align: center;
    font-size: 4em;
    color: #9E9FA1;
    font-weight: 500;
}

.container .card .imgBx img{
    max-width: 100px;
    transition: 0.5s ease-in-out;
}

.container .card:hover .imgBx img{
    max-width: 75px;
}
.container .card .content{
    position: absolute;
    right: -20;
    width: calc(90% - 50px);
    height: 100%;
    padding:20px;
    padding-left: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .content h3{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 24px;
}

.container .card .content a{

    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background: #fff;
    text-decoration: none;
    color: #48dbfb;
    border-radius: 100px;
    transition: 0.5s linear;
}

.container .card .content a:hover{

    background: #353b48;
    color: #fff;
    scale: (1.6);
}
/*
.work{
    width: calc(33% - 10px);
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
} 

.work img{

    width: 100%;
    height: 200px;
    transition: .4s linear;
}
.work::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #48dbfbcc;
    transition: .2s linear;
    transform: scale(0);
  }
  
.work .info{
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #fff;
    transition: .4s linear;
    opacity: 0;
  }
  
  .work:hover img{
    transform: scale(1.6);
  }
  
  .work:hover::before,
  .work:hover .info
  {
    opacity: 1;
    transform: scale(1);
  }
*/
 
.contact-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.contact-info .item{

    width: calc(33% - 10px);
    height: 150px;
    border-radius: 50px;
    background-color: #353b48;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
}


.contact-info i{

    display:block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover{

    background-color:#48dbfb;
}

.contact-form{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-form input, .contact-form textarea{

width: 100%;
height:50px;
background-color: #353b48;
margin: 10px 0;
border: none;
outline:none;
padding:20px;
border-radius: 50px;
color:#fff;
margin-bottom: 10px;
}

.name, .email{

    max-width: calc(50% - 10px);
}

.message{
    height:200px;
    resize: vertical;
}

.contact-form .btn{
    width: 150px;
    border: 2px solid #48dbfb;
    padding: 5px;
    margin-left: auto;
    cursor: pointer;
    background-color: transparent;
    border-radius: 120px;
    color: #48dbfb;
    font-size: 30px;
    transition: .2s linear;
}

.contact-form .btn:hover{

    color:#fff;
    background-color: #48dbfb;
}

footer{
    background: url(../images/bg2.jpg) no-repeat center;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.copyright{
    font-size:15px;
    margin-bottom: 20px;
}

.copyright a{
    
    font-size: 16px;
    color:#48dbfb;
    font-weight: 500;
}

.goTop{
    position: fixed;
    z-index:999;
    bottom:40px;
    right:40px;
    width:40px;
    height:50px;
    background-color: #48dbfb;
    color: #fff;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    outline: none;
    display: none;
}
  

@media screen and (max-width: 980px){
    .menu-toggler{
        display: block;
    }
       
    .navbar-menu{

        position: fixed;
        height: 100vh;
        widows: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a{
        
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu{

        background-color: #f1f1f1;
    }

    .navbar-menu.active{

        right: 0;
    }

    .menu-toggler.active span:nth-child(1){

        transform: rotate(-45deg);
        top:4px;
        }

    .menu-toggler.active span:nth-child(2){

         opacity: 0;
        }
     .menu-toggler.active span:nth-child(3){

        transform: rotate(45deg);
        bottom: 14px;
     }

     .inner-width{
         max-width: 800px;
     }

     .about-pic{
         margin: 0 auto 60px;
     }

     .about-text{
         flex: 100%;
         text-align: center;
     }

     .service{
         width: calc(50% - 20px);
     }

     .block{
         width: calc(100% - 20px);
         margin-left: auto;
     }

     .blockmid{
        width: calc(100% - 20px);
        margin-left: auto;
    }

    .blockcertif{
        width:calc(100% - 20px);
        margin-left: auto;
    }
    .container{
        width: 100%;
        margin: 10px 20px;
        flex-direction: column;
        align-items: center;
        height:auto;
    }

    .container .card{
        width: 600px;
    }
 /*
    .work{
        width: calc(50% - 10px);
    }
    */
    .contact-form .item{
        width:100%;
        margin:10px 0;
    }

    .item{
        width:100%;
        margin:10px 0;
    }

}

 @media screen and (max-width: 600px){

    .inner-width{
        padding: 0 20px;
    }
    .skill{
        width: 100%;
    }

    .service{
        width: 100%;
    }
    
    .container .card{
        max-width:300px;
        flex-direction: column;
        height: auto;
    }

    .container .card .imgBx{
        position: relative;
    }

    .container .card .imgBx, 
    .container .card:hover .imgBx{
    
        width: 100%;
        height: 200px;
        left: 0;

    }

    .container .card .imgBx img, 
    .container .card:hover .imgBx img{

        max-width: 100%;
    }
    
    .container .card .content{
        position: relative;
        width:100%;
        left: -10;
    }
    .container .card .content a{
        position: relative;
        left: 40;
    }

/*
    .work{
        width: 100%;
    }
    */

    .name, .email{
        max-width:100%;
    }

    .item p{
        width: 100%;
        font-size: 5px;
    }

 }